<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>995635472690-3r22jqluo2j6dejaig1g2b5v0a38jpmd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995635472690-3r22jqluo2j6dejaig1g2b5v0a38jpmd</string>
	<key>API_KEY</key>
	<string>AIzaSyBSGVzf-r_9BS-L8YCXsyko8JCOsP1NvlA</string>
	<key>GCM_SENDER_ID</key>
	<string>995635472690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aljadid.almadar.qr1-qrcode</string>
	<key>PROJECT_ID</key>
	<string>almadar-qr</string>
	<key>STORAGE_BUCKET</key>
	<string>almadar-qr.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:995635472690:ios:7620452944138cf7</string>
	<key>DATABASE_URL</key>
	<string>https://almadar-qr.firebaseio.com</string>
</dict>
</plist>