<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>qr1.qrcode.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B5AA3A861F26AAF1007ABFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5AA3A9A1F26AAF2007ABFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B5AA3AA51F26AAF2007ABFB1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
